CONFIG_PLATFORM_SPACEMIT_K1X=y
CONFIG_PLATFORM_SPACEMIT_K1X_EVB=y
# CONFIG_SBI_ECALL_TIME is not set
CONFIG_FDT_IPI=y
CONFIG_FDT_IPI_MSWI=y
CONFIG_FDT_IRQCHIP=y
CONFIG_FDT_IRQCHIP_PLIC=y
CONFIG_FDT_RESET=y
CONFIG_FDT_RESET_HTIF=y
CONFIG_FDT_RESET_SIFIVE_TEST=y
CONFIG_FDT_RESET_SUNXI_WDT=y
CONFIG_FDT_RESET_THEAD=y
CONFIG_FDT_SERIAL=y
CONFIG_FDT_SERIAL_UART8250=y
CONFIG_ARM_PSCI_SUPPORT=y
CONFIG_ARM_NON_SCMI_SUPPORT=y
